# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options
.vs/
*.user
*.userosscache
*.sln.docstates

# NuGet packages
*.nupkg
packages/

# Test results
TestResults/
[Tt]est[Rr]esult*/
*.trx
*.coverage

# Others
*.log
*.cache